<section class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh;">
  
      <div class="container h-75">
           <h2 class="text-center font-weight-bold">Register Congregation</h2>
           <p class="w-auto text-center font-weight-normal text-dark mx-4 lh-base mb-5">Enter your congregation information. <br> We do not store private information. All congregation data are gathered from the public data of JW.ORG.</p>
            <mat-horizontal-stepper #stepper linear [disableRipple]="true" labelPosition='bottom'>
             <mat-step [stepControl]="aboutForm" state="phone" label="Your info">
                <form [formGroup]="aboutForm">
                  <div class="mt-2 row g-2">
                   <div class="col-lg-2 col-md-3 col-sm-5">
                   <label for="fname" class="col-form-label">First Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="Joe" formControlName="fname"
                      required> 
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6">
                      <label for="lname" class="col-form-label">Last Name</label>
                      <input type="text" class="form-control" id="lname" placeholder="Publisher" formControlName="lname"
                        required>
                      </div> 
                  </div>
                  <div class="mt-2 row g-2">
                   <div class="col-lg-2 col-md-4 col-sm-6">
                   <label for="gender" class="col-form-label">Gender</label>
                      <select class="form-select" formControlName="gender">
                         <option *ngFor="let g of genders" [value]="g"  [selected]="g == gender">{{ g }}</option>
                      </select>
                   </div>
                   <div class="col-lg-2 col-md-4 col-sm-6">
                      <label for="privilege" class="col-form-label">Privilege</label>
                      <select class="form-select" formControlName="privilege">
                         <option *ngFor="let p of privileges" [value]="p" [selected]="p == privilege">{{ p }}</option>
                      </select>
                  </div>
                  </div>
                  <div class="row mt-2 g-2">
                     <div class=" col-lg-6 col-md-6 col-sm-12 card card-custom shadow-sm me-2">
                        <div class="card-body">
                           <div class="row align-items-center">
                              <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                                 <p class="fs-6 text-muted fw-normal">First Name<br>
                                    <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ fname.value }}</span>
                                 </p>
                              </div>
   
                              <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                                 <p class="fs-6 text-muted fw-normal ">Last Name<br>
                                    <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ lname.value }}</span>
                                 </p>
                              </div>
   
                              <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                                 <p class="fs-6 text-muted fw-normal ">Privilege<br>
                                    <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ privilege.value }}</span>
                                 </p>
                              </div>
   
                              <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                                 <p class="fs-6 text-muted fw-normal ">Gender<br>
                                    <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ gender.value }}</span>
                                 </p>
                              </div>
                            </div>
                    </div>
                   </div>
                  </div>
                  <!-- <div style="max-width: 50px; max-height: 50px;">
                     <ngx-spinner type="ball-scale-multiple" [fullScreen]="false"></ngx-spinner>
                  </div> -->
                  <button class="btn btn-secondary mt-4" matStepperNext (click)="loadLanguages()">Next</button>
                </form>

              </mat-step>
              <mat-step [stepControl]="congrationGroup" (click)="loadLanguages()" label="Fill out your address">
                <form [formGroup]="congrationGroup">
                   <div class="mt-2 row g-2">
                   <div class="col-lg-3 col-md-6 col-sm-12">
                      <label for="typeahead-format" class="mb-2">Congregation Language</label>
               
                    <input id="typeahead-template" type="text" class="form-control" [ngbTypeahead]="search"
                      [resultTemplate]="rt" formControlName="languageControl" [inputFormatter]="formatter"
                      placeholder="Type language" [value]="language.value.languageName ? language.value.languageName : null" required/>
                   </div>
                   <div class="col-lg-2 col-md-3 col-sm-4 mt-2">
                      <label for="zipControl" class="mb-2">ZIP Code</label>
                        <input type="text" class="form-control" id="zipControl" placeholder="10987" formControlName="zipControl"
                        required (keypress)="checkZIP($event)" (click)="checkZIP($event)">
                    
                     
                   </div>
                   <div class="row g-2">
                     <div class="col-lg-3 col-md-6 col-sm-12 card card-custom shadow-sm me-2" *ngIf="language.value">
                           <div class="card-body py-1">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-start align-items-center ps-0">
                             <svg-icon src="assets/images/translation.svg" [svgStyle]="{ 'width.px': 22 }" class="me-3"></svg-icon>
                              <p class="fw-bolder mb-0 fs-6">{{ language.value.languageName }}
                              </p>
                            </li>
                          </ul>
                       </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12 card card-custom shadow-sm" *ngIf="zipInput.valid">
                         <ng-container *ngIf="$geoZip | async as zip; else loader">
                            <div class="card-body py-1">
                           <ul #places class="list-group list-group-flush">
                             <li *ngFor="let place of zip.places" class="list-group-item d-flex justify-content-start align-items-center ps-0">
                              <svg-icon src="assets/images/pin.svg" [svgStyle]="{ 'height.px': 22 }" class="me-3"></svg-icon>
                               <p class="fw-bolder mb-0 lh-base">{{ place["place name"] }} <br>
                               <span class="fw-normal">{{ place.state }}, {{ zip.country }}</span></p>
                             </li>
                           </ul>
                        </div>
                         </ng-container>
                       </div>
                  </div>
                  <div class="col-12">
                     <button class="btn btn-secondary mt-4 d-inline-block" *ngIf="zipInput.valid && language.valid" matStepperNext (click)="selectPlace()">Next</button>
                  </div>
                   </div>
                </form>
    
                <ng-template #rt let-r="result" let-t="term">
                   <div class="d-inline-flex align-items-center py-2">
                     <svg-icon src="assets/images/translation.svg" [svgStyle]="{ 'height.px': 22 }" class="me-1"></svg-icon>
                     <ngb-highlight [result]="r.languageName" [term]="t"></ngb-highlight>
                   </div>
                 </ng-template>
              </mat-step>
    
              <mat-step label="Select Congregation">
                <ng-container *ngIf="$congregations | async as congregations; else loader">
    
                   <ul class="list-group-flush mt-2 shadow-sm rounded ps-0">
    
                      <li *ngFor="let congregation of congregations.geoLocationList" class="list-group-item list-group-item-action p-4 d-inline-flex align-items-center justify-content-between" (click)="selectCongregation(congregation, stepper)" matStepperNext type="button">
                         <div class="d-inline-flex align-items-center">
                           <svg-icon src="assets/images/congregation.svg" [svgStyle]="{ 'height.px': 22 }" class="me-4"></svg-icon>
                           <p class="fs-6 mb-0 fw-bold lh-sm">{{ congregation.properties.orgName }} <br>
                            <span class="fs-6 text-muted fw-normal">{{ congregation.properties.address }}</span>
                           </p>
                         </div>
                        <div *ngIf="congregation.isClaimed" class="d-inline-flex align-items-center text-warning">
                           <span>Claimed</span>
                           <svg-icon src="assets/images/c-info.svg" [svgStyle]="{ 'height.px': 18 }" class="ms-2"></svg-icon>
                        </div>
                        
                     </li>
                  </ul>
                </ng-container>
              </mat-step>
              <mat-step label="Verify">

               <div class="row mt-2 g-2">
                  <div class=" col-lg-6 col-md-6 col-sm-12 card card-custom shadow-sm me-2">
                     <div class="card-body p-4">
                        <div class="row align-items-center">

                           <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                              <p class="fs-6 text-muted fw-normal">First Name<br>
                                 <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ fname.value }}</span>
                              </p>
                           </div>

                           <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                              <p class="fs-6 text-muted fw-normal ">Last Name<br>
                                 <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ lname.value }}</span>
                              </p>
                           </div>

                           <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                              <p class="fs-6 text-muted fw-normal ">Privilege<br>
                                 <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ privilege.value }}</span>
                              </p>
                           </div>

                           <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                              <p class="fs-6 text-muted fw-normal ">Gender<br>
                                 <span class="fs-6 mb-0 fw-bold lh-sm text-dark">{{ gender.value }}</span>
                              </p>
                           </div>

                           <hr class="mt-3">
                           <div class="col-12" *ngIf="selectedCong">
                              <div class="d-inline-flex align-items-center">
                                 <svg-icon src="assets/images/congregation.svg" [svgStyle]="{ 'height.px': 22 }" class="me-4"></svg-icon>
                                 <p class="fs-6 mb-0 fw-bold lh-sm">{{ selectedCong.properties.orgName }} <br>
                                  <span class="fs-6 text-muted fw-normal">{{ selectedCong.properties.address }}</span>
                                 </p>
                              </div>
                        </div>
                     </div>
                 </div>
                </div>
               </div>
                <button type="button" class="btn btn-secondary mt-4" (click)="verifyAll()">Done</button> 

              </mat-step>
              <ng-template matStepperIcon="phone">
                <mat-icon>call_end</mat-icon>
              </ng-template>
            </mat-horizontal-stepper>
            <ng-template #loader>
               <ngx-skeleton-loader count="5" appearance="circle"></ngx-skeleton-loader>
            </ng-template>
      </div>
  
    
</section>
