<div class="d-flex align-items-center justify-content-between">
  <div class="d-inline-flex align-items-center" *ngIf="part">
    <svg-icon src="assets/images/document.svg" [svgStyle]="{ 'height.px': 18 }"></svg-icon>
    <p class="mb-0 ms-3 lh-base">
      <span class="fw-normal">{{ part.title.split(')').length > 1 ? part.title.split(')')[0] + ')' : part.title | titlecase }}</span> <br>


      <span class="fw-normal">{{ part.subTitle | titlecase }}</span>

      <span class="fw-normal me-2">{{  part.date.toDate() | date }}</span> <span class="badge bg-light text-dark">{{ part.parent }}</span>
    </p>
  </div>

  <div class="d-inline-flex align-items-center">
    <span class="fst-italic me-1 text-success" *ngIf="part.isConfirmed">Confirmed</span>
    <div ngbDropdown class="d-inline-block ms-2" placement="bottom-right">
      <button class="btn btn-light p-1 rounded-circle" id="dropdownBasic1" ngbDropdownToggle style="width: 36px;">
        <svg-icon src="assets/images/more.svg"></svg-icon>
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem class="py-2 btn-sm" (click)="part.isConfirmed ? unconfirm() : confirm()">
          {{ part.isConfirmed ? 'Cancel' : 'Confirm' }}
        </button>
        <button *ngIf="user && part.parent == parentApply && part.assignee || user && part.parent == parentTreasures && part.index == 2 && part.assignee" ngbDropdownItem class="py-2 btn-sm" (click)="emailPart(part, user)">Email</button>
        <button *ngIf="user && part.parent == parentApply && part.assignee || user && part.parent == parentTreasures && part.index == 2 && part.assignee" ngbDropdownItem class="py-2 btn-sm" (click)="exportService.downloadPartPDF(part)">Download</button>
      </div>
    </div>
  </div>
</div>
