<div class="d-flex align-items-center">
  <svg-icon src="assets/images/document.svg" [svgStyle]="{ 'height.px': 18 }"></svg-icon>
  <div class="d-inline-flex align-items-center ms-3" *ngIf="part">
    <p class="mb-0 lh-base">
      <span class="fw-normal">{{ part.title }}</span> <br>

      <!-- <span class="fw-normal">{{ part.subTitle }}</span> <span class="fw-normal me-2">{{ part.date.toDate() | date }}</span> <span class="badge bg-success text-light">{{ part.parent }}</span> -->
    </p>
  </div>
</div>
