<div class="row vh-100 justify-content-center align-items-center bg-light">
<div class="col-lg-3 col-md-6 col-sm-10 mx-2">

  <div class="w-100 d-flex justify-content-center mb-5">
    <img src="assets/images/logo.jpg" class="rounded-circle" style="width: 100px; height: 100px;">
  </div>


   <h2 class="font-weight-bold">LOGIN</h2>

   <div class="d-flex justify-content-start flex-wrap">
     <button class="btn btn-sm d-inline-flex justify-content-center align-items-center google w-100 mb-2" (click)="auth.googleSignIn()">
      <svg-icon src="assets/images/google.svg" [svgStyle]="{ 'height.px': 18, 'marginTop.px': 5, 'marginBottom.px': 5 }"></svg-icon>
      <span class="ms-2 fw-normal">Google</span>
    </button>

     <button class="btn btn-dark btn-sm d-inline-flex justify-content-center align-items-center w-100" (click)="auth.appleSignIn()">
      <svg-icon src="assets/images/apple.svg" [svgStyle]="{ 'height.px': 18, 'marginTop.px': 5, 'marginBottom.px': 5 }"></svg-icon>
       <span class="ms-1 fw-normal">Sign-in with Apple</span>
      </button>
   </div>

   <hr>

   <form [formGroup]="signInForm">

     <div class="mb-3">
       <label for="email" class="form-label">Email</label>
       <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email"
         placeholder="jose@publisher.com" required autocomplete="none">
     </div>

     <div class="mb-3">
       <label for="password" class="form-label">Password</label>
       <input type="password" class="form-control" [type]="hide ? 'password' : 'text'" [formControl]="password">
     </div>
     <button type="submit" class="btn btn-primary d-inline-flex btn-sm align-items-center"
       (click)="signIn()"><span>Submit</span></button>
   </form>

 </div>
</div>
