
<div class="container-fluid pb-4 px-sm-4">

  <div class="row mt-3">
    <div class="p-0 mb-3 d-flex flex-wrap justify-content-between align-items-center">

      <div class="d-inline-flex align-items-center">
        <button class="btn btn-light btn-sm d-inline-block" (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
          <svg-icon [src]="sidenav.opened ? 'assets/images/slide-left.svg' : 'assets/images/slide-right.svg'"
            class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
        </button>
      </div>

      <div class="d-inline-flex flex-wrap align-items-center">
        <select class="form-select form-select-sm me-2" [(ngModel)]="selectedYear" style="width: 120px;"
          [disabled]="!storeService.showNextYear" (change)="loadMonths()">
          <option *ngFor="let year of years" [selected]="year == selectedYear" [value]="year">{{ year }}</option>
        </select>

        <select class="form-select form-select-sm me-2" style="width: 200px;" [(ngModel)]="monthData"
          (change)='checkCanExport()'>
          <option *ngFor="let month of storeService.months" [ngValue]="month" [selected]="month == monthData">
            {{ month.name }}</option>
        </select>

        <button class="btn btn-light btn-sm d-inline-block" (click)="addMonthProgram()" [disabled]="exportPDFisActive">
          <svg-icon  *ngIf="!isLoading" src="assets/images/add-schedule.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }">
          </svg-icon>

          <div *ngIf="isLoading && !exportPDFisActive" class="spinner-border spinner-border-sm text-dark" role="status"></div>
          <span class="ms-2 align-middle">Add Program</span>
        </button>
        <div ngbDropdown class="d-inline-block" *ngIf="weekProgram">

          <button *ngIf="weekProgram" [disabled]="!exportPDFisActive"
            class="btn btn-light btn-sm" ngbDropdownToggle>
            <svg-icon *ngIf="!isLoading" src="assets/images/export.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
            <div *ngIf="isLoading && exportPDFisActive" class="spinner-border spinner-border-sm text-dark" role="status"></div>
            <span class="ms-2 align-middle">Export</span>
          </button>

          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="downloadMonthPDF(weekProgram)">
              <svg-icon src="assets/images/file-pdf.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }">
              </svg-icon>
              <span class="ms-2 align-middle">PDF</span>
            </button>
            <!-- <button ngbDropdownItem>
              <svg-icon src="assets/images/file-docx.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }">
              </svg-icon>
              <span class="ms-2 align-middle">Word</span>
            </button> -->
            <!-- <button ngbDropdownItem (click)="emailMonthPDF(weekProgram)">
              <svg-icon src="assets/images/send.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
              <span class="ms-2 align-middle">Email All</span>
            </button> -->
          </div>
        </div>
      </div>

    </div>

    <mat-drawer-container class="card p-0 border-0 shadow-sm rounded-3" >

      <mat-drawer mode="side" #sidenav opened style="width: 200px;">
        <div class="card-body p-0">

          <div class="d-flex">
            <ul ngbNav #nav="ngbNav" [(activeId)]="store.publisherActiveTab" orientation="vertical"
              class="list-group list-group-flush w-100">
              <ng-container *ngIf="weekProgram; else loading">
                <li [ngbNavItem]="i" *ngFor="let week of weekProgram;  index as i"
                  class="list-group-item list-group-item-action py-2" [ngClass]="{'active': store.publisherActiveTab == i }">
                  <a ngbNavLink
                    [class]="store.publisherActiveTab == i ? 'fw-bold text-white' : 'fw-bold text-dark'">{{ week.range | titlecase }}</a>
                  <ng-template ngbNavContent>
                    <ab-program-detail [weekProgram]="week"></ab-program-detail>
                  </ng-template>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer-content>

        <ng-container *ngIf="weekProgram; else loading" >
          <div class="card-body py-4"
          [ngClass]="{ 'd-flex flex-wrap align-items-center justify-content-center': weekProgram.length == 0 }" style="min-height: 600px;">

          <div *ngIf="weekProgram.length == 0">
            <div class="text-center fs-5 text-secondary" style="opacity: 50%;">
              <svg-icon src="assets/images/empty.svg" [svgStyle]="{ 'width.px':100, 'height.px': 100 }"></svg-icon>
              <p class="mt-2">No programs yet.</p>
            </div>
            <div class="w-100 d-inline-flex justify-content-center mt-4">
              <button type="button" class="btn btn-primary btn-sm" (click)="addMonthProgram()">
                Add Program
              </button>
            </div>
          </div>
          <div [ngbNavOutlet]="nav" class="mx-4" *ngIf="weekProgram.length > 0">
          </div>
        </div>
        </ng-container>

      </mat-drawer-content>
    </mat-drawer-container>
  </div>

</div>
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 500px;">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
    </div>
  </div>
</ng-template>
