<div class="container-fluid px-4">
   
   <div class="row mt-3">
      <div class="p-0 mb-3 d-flex justify-content-end align-items-center">
         
         <select class="form-select me-2" [(ngModel)]="selectedYear" style="width: 120px;" [disabled]="!storeService.showNextYear" (change)="loadMonths()" >
            <option *ngFor="let year of years" [selected]="year == selectedYear" [value]="year" >{{ year }}</option>
          </select>

         <select class="form-select me-2" style="width: 200px;" [(ngModel)]="monthData" >
            <option *ngFor="let month of storeService.months" [ngValue]="month" [selected]="month == monthData">{{ month.name }}</option>
          </select>

         <button class="btn btn-primary d-inline-block" (click)="addMonthProgram()">
            <svg-icon src="assets/images/add-schedule.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
            <span class="ms-2 align-middle" >Add Program</span>
         </button>
      </div>
      <mat-drawer-container class="card p-0">
         <mat-drawer mode="side" opened style="width: 200px;">
            <div class="card-header">
               Weeks
             </div>
             <div class="card-body">
         
               <div class="d-flex">
                  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                     <ng-container *ngIf="$weekProgram | async as weekPrograms; else selectDate">
                        <li [ngbNavItem]="week.id" *ngFor="let week of weekPrograms">
                           <a ngbNavLink>{{ week.range }}</a>
                           <ng-template ngbNavContent>
                                <ab-program-detail [weekProgram]="week"></ab-program-detail>
                           </ng-template>
                         </li>
                     </ng-container>
                     <ng-template #selectDate>
                        <mat-spinner></mat-spinner>
                      </ng-template>
                  </ul>
                </div>
             </div>
         </mat-drawer>
         <mat-drawer-content> 
            <div class="card-header">
               Programs
             </div>
             <div class="card-body" style="min-height: 600px;">
               <div [ngbNavOutlet]="nav" class="mx-4" *ngIf="$weekProgram | async as weekPrograms; else selectDate"></div>
              <!-- <router-outlet name='program'></router-outlet> -->
             </div>
         </mat-drawer-content>
      </mat-drawer-container>
   </div>

</div>
