<div class="container-lg pb-4 px-sm-4">

  <div class="row mt-3">
    <div class="p-0 mb-3 d-flex flex-wrap justify-content-between align-items-center">

      <div class="d-inline-flex align-items-center">
        <button class="btn btn-light btn-sm d-inline-block" (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
          <svg-icon [src]="sidenav.opened ? 'assets/images/slide-left.svg' : 'assets/images/slide-right.svg'"
            class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
        </button>
      </div>

      <div class="d-inline-flex flex-wrap align-items-center">
        <select class="form-select form-select-sm me-2" [(ngModel)]="selectedYear" style="width: 120px;"
          [disabled]="!storeService.showNextYear" (change)="loadMonths()">
          <option *ngFor="let year of years" [selected]="year == selectedYear" [value]="year">{{ year }}</option>
        </select>

        <select class="form-select form-select-sm me-2" style="width: 200px;" [(ngModel)]="monthData"
          (change)='checkCanExport()'>
          <option *ngFor="let month of storeService.months" [ngValue]="month" [selected]="month == monthData">
            {{ month.name }}</option>
        </select>

        <button class="btn btn-light btn-sm d-inline-block" (click)="addMonthProgram()" [disabled]="exportPDFisActive">
          <svg-icon src="assets/images/add-schedule.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }">
          </svg-icon>
          <span class="ms-2 align-middle">Add Program</span>
        </button>

        <div ngbDropdown class="d-inline-block" *ngIf="weekProgram">

          <button *ngIf="weekProgram" [disabled]="!exportPDFisActive"
            class="btn btn-light btn-sm" ngbDropdownToggle>
            <svg-icon src="assets/images/export.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
            <span class="ms-2 align-middle">Export</span>
          </button>

          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="downloadMonthPDF(weekProgram)">
              <svg-icon src="assets/images/file-pdf.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }">
              </svg-icon>
              <span class="ms-2 align-middle">PDF</span>
            </button>
            <button ngbDropdownItem>
              <svg-icon src="assets/images/file-docx.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }">
              </svg-icon>
              <span class="ms-2 align-middle">Word</span>
            </button>
            <button ngbDropdownItem (click)="emailMonthPDF(weekProgram)">
              <svg-icon src="assets/images/send.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
              <span class="ms-2 align-middle">Email All</span>
            </button>
          </div>
        </div>

        <button *ngIf="weekProgram" [disabled]="!exportPDFisActive"
          class="btn btn-light btn-sm btn-delete" (click)="deleteMonth(weekProgram)">
          <svg-icon src="assets/images/trash.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
          <span class="ms-2 align-middle">Delete</span>
        </button>
      </div>

    </div>

    <mat-drawer-container class="card p-0 border-0 shadow-sm rounded-3">
      <mat-drawer mode="side" #sidenav opened style="width: 200px;">
        <div class="card-body p-0">

          <div class="d-flex">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" orientation="vertical"
              class="list-group list-group-flush w-100">
              <ng-container *ngIf="weekProgram; else selectDate">
                <li [ngbNavItem]="i" *ngFor="let week of weekProgram;  index as i"
                  class="list-group-item list-group-item-action py-2" [ngClass]="{'active': active == i }">
                  <a ngbNavLink
                    [class]="active == i ? 'fw-bold text-white' : 'fw-bold text-dark'">{{ week.range | titlecase }}</a>
                  <ng-template ngbNavContent>
                    <ab-program-detail [weekProgram]="week"></ab-program-detail>
                  </ng-template>
                </li>
              </ng-container>
              <ng-template #selectDate>
                <mat-spinner></mat-spinner>
              </ng-template>
            </ul>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <div class="card-body py-4" style="min-height: 600px;" *ngIf="weekProgram;"
          [ngClass]="{ 'd-flex flex-wrap align-items-center justify-content-center': weekProgram.length == 0 }">

          <div *ngIf="weekProgram.length == 0">
            <div class="text-center fs-5 text-secondary" style="opacity: 50%;">
              <svg-icon src="assets/images/empty.svg" [svgStyle]="{ 'width.px':100, 'height.px': 100 }"></svg-icon>
              <p class="mt-2">No programs yet.</p>
            </div>
            <div class="w-100 d-inline-flex justify-content-center mt-4">
              <button type="button" class="btn btn-primary btn-sm" (click)="addMonthProgram()">
                Add Program
              </button>
            </div>
          </div>
          <div [ngbNavOutlet]="nav" class="mx-4" *ngIf="weekProgram.length > 0">
          </div>

        </div>
      </mat-drawer-content>
    </mat-drawer-container>
    <ngx-spinner></ngx-spinner>
  </div>

</div>
