<div class="p1 " >
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)" [ngClass]="{'over': isOver }">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div class="d-flex justify-content-center align-content-center w-100" style="height: 300px;">
        <span class="text-center mt-2 h6">Drag and drop <br>the file here</span>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>
