<h3 class="mb-4">{{ weekProgram.range }}</h3>

<ul ngbNav #nav="ngbNav" class="nav-tabs">

   <li ngbNavItem>
     <a ngbNavLink>Midweek</a>
     <ng-template ngbNavContent>

      <div class="mt-3 d-flex justify-content-between align-items-center">
         <label for="prayer1" class="form-label">Chairman</label>
         <div class="d-inline-flex align-content-center">
         <a type="button" class="fs-6" *ngIf="weekProgram.midWeek.chairman.assignee">
            {{ weekProgram.midWeek.chairman.assignee.firstName }} {{ weekProgram.midWeek.chairman.assignee.lastName }}
         </a>
            <button class="btn btn-light" *ngIf="!weekProgram.midWeek.chairman.assignee" (click)="openSelectPublisherModal(weekProgram.midWeek.chairman)">
               select
            </button>
         </div>
       </div>
       
      
      <div class="mt-3 d-flex justify-content-between align-items-center">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Prayer</label>
         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="weekProgram.midWeek.prayers[0].assignee">
               {{ weekProgram.midWeek.prayers[0].assignee.firstName }} {{ weekProgram.midWeek.prayers[0].assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!weekProgram.midWeek.prayers[0].assignee" (click)="openSelectPublisherModal(weekProgram.midWeek.prayers[0])">
                  select
               </button>
            </div>
       </div>


       <hr>
       <h4 class="my-3">TREASURES FROM GOD’S WORD</h4>

       <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngFor="let treasuresPart of weekProgram.midWeek.treasuresParts">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label"> {{ treasuresPart.title }}</label>

         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="treasuresPart.assignee">
               {{ treasuresPart.assignee.firstName }} {{ treasuresPart.assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!treasuresPart.assignee" (click)="openSelectPublisherModal(treasuresPart)">select</button>
            </div>
       </div>

       <h4 class="my-3">APPLY YOURSELF TO THE FIELD MINISTRY</h4>

       <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngFor="let applyPart of weekProgram.midWeek.applyParts">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label"> {{ applyPart.title }}</label>

         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="applyPart.assignee">
               {{ applyPart.assignee.firstName }} {{ applyPart.assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!applyPart.assignee" (click)="openSelectPublisherModal(applyPart)">select</button>
            </div>
       </div>


       <h4 class="my-3">LIVING AS CHRISTIANS</h4>

       <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngFor="let lifePart of weekProgram.midWeek.lifeParts">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">{{ lifePart.title }}</label>
         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="lifePart.assignee">
               {{ lifePart.assignee.firstName }} {{ lifePart.assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!lifePart.assignee" (click)="openSelectPublisherModal(lifePart)">select</button>
            </div>
       </div>
       <hr>
       <div class="mt-3 d-flex justify-content-between align-items-center">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Prayer</label>
         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="weekProgram.midWeek.prayers[1].assignee">
               {{ weekProgram.midWeek.prayers[1].assignee.firstName }} {{ weekProgram.midWeek.prayers[1].assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!weekProgram.midWeek.prayers[1].assignee" (click)="openSelectPublisherModal(weekProgram.midWeek.prayers[1])">select</button>
            </div>
       </div>
     </ng-template>
   </li>

   <li ngbNavItem>
     <a ngbNavLink>Weekend</a>
     <ng-template ngbNavContent>

      <div class="mt-3 d-flex justify-content-between align-items-center">
         <label for="prayer1" class="form-label">Chairman</label>
         <div class="d-inline-flex align-content-center">
         <a type="button" class="fs-6" *ngIf="weekProgram.weekEnd.chairman.assignee">
            {{ weekProgram.weekEnd.chairman.assignee.firstName }} {{ weekProgram.weekEnd.chairman.assignee.lastName }}
         </a>
            <button class="btn btn-light" *ngIf="!weekProgram.weekEnd.chairman.assignee" (click)="openSelectPublisherModal(weekProgram.weekEnd.chairman)">
               select
            </button>
         </div>
       </div>

       <div class="mt-3 d-flex justify-content-between align-items-center">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Prayer</label>
         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="weekProgram.weekEnd.prayers[0].assignee">
               {{ weekProgram.weekEnd.prayers[0].assignee.firstName }} {{ weekProgram.weekEnd.prayers[0].assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!weekProgram.weekEnd.prayers[0].assignee" (click)="openSelectPublisherModal(weekProgram.weekEnd.prayers[0])">
                  select
               </button>
            </div>
       </div>

       <hr>
       <h4 class="my-3">PUBLIC TALK</h4>

       <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center">

         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label"> {{ weekProgram.weekEnd.publicTalk.title ? weekProgram.weekEnd.publicTalk.title : '' }}</label>

         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="weekProgram.weekEnd.publicTalk.assignee">
               {{ weekProgram.weekEnd.publicTalk.assignee.firstName }} {{ weekProgram.weekEnd.publicTalk.assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!weekProgram.weekEnd.publicTalk.assignee" (click)="openSelectPublisherModal(weekProgram.weekEnd.publicTalk)">select</button>
            </div>
       </div>

       <hr>
       <h4 class="my-3">WATCHTOWER STUDY</h4>

       <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center">

         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label"> {{ weekProgram.weekEnd.watchtowerStudy.subTitle ? weekProgram.weekEnd.watchtowerStudy.subTitle : 'Theme' }}</label>

         <div class="d-inline-flex align-content-center">
            <a type="button" class="fs-6" *ngIf="weekProgram.weekEnd.watchtowerStudy.assignee">
               {{ weekProgram.weekEnd.watchtowerStudy.assignee.firstName }} {{ weekProgram.weekEnd.watchtowerStudy.assignee.lastName }}
            </a>
               <button class="btn btn-light" *ngIf="!weekProgram.weekEnd.watchtowerStudy.assignee" (click)="openSelectPublisherModal(weekProgram.weekEnd.watchtowerStudy)">select</button>
            </div>
       </div>

     </ng-template>
   </li>
 </ul>

 <div [ngbNavOutlet]="nav"></div>
