<h3 class="mb-4">{{ weekProgram.range | titlecase }}</h3>
<!-- <button class="btn btn-danger" (click)="deleteWeek(weekProgram.id)">
    Delete
</button> -->
<ng-container *ngIf="parts">

   <ul ngbNav #nav="ngbNav" class="nav nav-pills">

      <li ngbNavItem>
        <a ngbNavLink>Midweek</a>
        <ng-template ngbNavContent>

         <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngIf="chairmans.length > 0 && chairmans[0]">
            <label for="prayer1" class="form-label">Président</label>
              <part-actions [part]="chairmans[0]" [weekProgram]="weekProgram"></part-actions>
          </div>


         <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngIf="prayers.length > 0 && prayers[0]">
            <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label">Prière</label>
               <part-actions [part]="prayers[0]" [weekProgram]="weekProgram"></part-actions>
          </div>


          <hr>
         
          <ng-container *ngIf="treasures.length > 0; else downloadMWB">
            <h4 class="my-3 fw-bold treasures">JOYAUX DE LA PAROLE DE DIEU</h4>

            <div *ngIf="treasures.length > 0">
              <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngFor="let part of treasures">
    
                <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label"> {{ part.title.split(')')[0] }})</label>
                <part-actions [part]="part" [weekProgram]="weekProgram"></part-actions>
                </div>
              </div>
              <h4 class="my-3 fw-bold apply">APPLIQUE-TOI AU MINISTÈRE</h4>
              <div *ngIf="apply.length > 0">
              <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngFor="let part of apply">
                <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label"> {{ part.title | shorten: 100: '...' }}</label>
    
                <part-actions [part]="part" [weekProgram]="weekProgram"></part-actions>
                </div>
             </div>
    
              <h4 class="my-3 fw-bold life">VIE CHRÉTIENNE</h4>
              <div *ngIf="life.length > 0">
              <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngFor="let part of life">
                <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label">{{ part.title | shorten: 100: '...' }}</label>
                <part-actions [part]="part" [weekProgram]="weekProgram"></part-actions>
              </div>
              </div>
          </ng-container>
          <ng-template #downloadMWB>
            <div class="py-4 d-flex justify-content-center">
              <button class="btn btn-light btn-sm fw-bold">Download Schedule</button>
            </div>
              
          </ng-template>

          <hr>
          <div class="mt-3 d-flex justify-content-between align-items-center" *ngIf="prayers.length > 0 && prayers[1]">
            <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label">Prière</label>
              <part-actions [part]="prayers[1]" [weekProgram]="weekProgram"></part-actions>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Weekend</a>

        <ng-template ngbNavContent>

         <div class="mt-3 d-flex justify-content-between align-items-center" *ngIf="chairmans.length > 0 && chairmans[1]">
            <label for="prayer1" class="form-label">Président</label>
              <part-actions [part]="chairmans[1]" [weekProgram]="weekProgram"></part-actions>
          </div>

          <hr>
          <h4 class="my-3 fw-bold weekend">DISCOURS PUBLIC</h4>

          <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngIf="talk && talk.length > 0 && talk[0]">


            <div class="input-group-sm d-flex col-sm-12 col-md-5 col-lg-5">
              <label for="prayer1" class="col-form-label" *ngIf="talk[0].assignee && talk[0].title">{{ talk[0].title }}</label>
              <select class="form-select form-select-sm" *ngIf="!talk[0].title" [disabled]="!talk[0].assignee" [(ngModel)]="selectedTalk" (change)="saveTalk(selectedTalk, talk[0])">
                <option disabled selected class="fw-bold">Select talk outline</option>
                <option *ngFor="let t of talks" [selected]="talk[0].title == t.title" [ngValue]="t" class="p-1">{{ t.title }}</option>
              </select>
            </div>
            <talk-actions [priere]="prayers[3]" [part]="talk[0]" [weekProgram]="weekProgram"></talk-actions>
          </div>
          <hr>
          <h4 class="my-3 fw-bold weekend">ETUDE DE LA TOUR DE GARDE</h4>
          <div class="mt-3 d-flex flex-wrap justify-content-between align-items-center" *ngIf="wt.length > 0 && wt[0]">
            <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label"> {{ wt[0].subTitle ? wt[0].subTitle : 'Theme' }}</label>
              <part-actions [part]="wt[0]" [weekProgram]="weekProgram"></part-actions>
          </div>
          <hr>
          <div class="mt-3 d-flex justify-content-between align-items-center" *ngIf="prayers.length > 0 && prayers[3]">
            <label for="prayer1" class="col-sm-12 col-md-6 col-lg-6 col-form-label">Priere</label>
              <part-actions [part]="prayers[3]" [weekProgram]="weekProgram"></part-actions>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>
</ng-container>




