<h3 class="mb-4">{{ weekProgram.range }}</h3>

<ul ngbNav #nav="ngbNav" class="nav-tabs">

   <li ngbNavItem>
     <a ngbNavLink>Mid Week</a>
     <ng-template ngbNavContent>
      <div class="my-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Chairman</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
      <div class="my-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Prayer</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <hr>
       <h4 class="my-3">Treasures From God's Word</h4>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Talk</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Discussion</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Bible Reading</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <h4 class="my-3">Treasures From God's Word</h4>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Talk</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Discussion</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Bible Reading</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <h4 class="my-3">Treasures From God's Word</h4>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Talk</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Discussion</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <div class="mb-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Bible Reading</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
       <hr>
       <div class="my-3 row">
         <label for="prayer1" class="col-sm-12 col-md-8 col-lg-8 col-form-label">Prayer</label>
         <div class="col-sm-12 col-md-4 col-lg-4">
            <select class="form-select" aria-label="Default select example">
               <option selected>Open this select menu</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
            </select>
          </div>
       </div>
     </ng-template>
   </li>

   <li ngbNavItem>
     <a ngbNavLink>Week End</a>
     <ng-template ngbNavContent>

     </ng-template>
   </li>
 </ul>

 <div [ngbNavOutlet]="nav"></div>
