
<div class="modal-body bg-light rounded-3">
      <div class="p4 text-center">
        <p class="fs-5 fw-bold text-center">Are you sure?</p>
        <span class="text-center lh-sm text-muted">{{ message }}</span>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-4">
        <button type="button" class="btn btn-light me-2 btn-sm" (click)="modal.close()">Cancel</button>
        <button type="submit" class="btn btn-danger btn-sm" (click)="delete()">Yes, Delete</button>
      </div>

</div>

