
<ng-container *ngIf="$parts | async as parts; else loading">
  <div class="row">
    <ul class="list-group list-group-flush" *ngIf="parts.length > 0">
      <li class="list-group-item list-group-item-action p-3" *ngFor="let part of parts">
        <part-row [part]="part"></part-row>
      </li>
    </ul>
  </div>
</ng-container>


<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 500px;">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
    </div>
  </div>
</ng-template>
