<div class="container" style="max-width: 500px;">

  <h1 class="font-weight-bold">SIGNUP</h1>

  <div class="d-flex mb-2">
    <button class="btn btn-primary d-inline-flex align-items-center" (click)="auth.googleSignIn()"><i nz-icon
        nzType="google"></i> <span class="ml-1">Google Sign In</span></button>
    <button class="btn btn-dark ml-2 d-inline-flex align-items-center"><i nz-icon nzType="apple"></i> <span
        class="ml-1">Apple Sign In</span></button>
  </div>

 <hr class="my-3">
  <form [formGroup]="signUpForm">

    <div class="input-group mb-3">
      <span class="input-group-text">First Name</span>
      <input type="text" class="form-control" placeholder="Joe" formControlName="firstName" id="firstName" autocomplete="given-name">

      <span class="input-group-text">Last Name</span>
   
      <input type="text" class="form-control" placeholder="Publisher" formControlName="lastName" id="lastName" autocomplete="family-name">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email"
        placeholder="jose@publisher.com" required autocomplete="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" [type]="hide ? 'password' : 'text'" [formControl]="password" autocomplete="new-password">
    </div>
    <button type="submit" class="btn btn-primary d-inline-flex align-items-center"
      (click)="signUp()"><span>Submit</span></button>
  </form>

</div>
