
<div class="d-flex align-items-center py-2">
      <img [src]="publisher.photoURL ? publisher.photoURL : '../assets/images/placeholder-pub.jpg' " alt="" class="rounded-circle me-3" style="width: 40px; height: 40px;">

      <p class="fs-6 lh-base fw-bold m-0">
        {{ publisher.lastName | titlecase }}, {{ publisher.firstName | titlecase }}  <br>
          <span class="badge bg-secondary me-2 fw-normal">{{ publisher.gender }}</span> <span class="badge bg-secondary fw-normal">{{ publisher.privilege }}</span>
</div>
