<div class="h-100 bg-light">
    <div class="py-4 container">
        <h3 class="mb-4">
            <span class="fw-normal fs-4 text-muted">Tableau d'Affichage</span> <br>
            {{ congregation?.properties.orgName }}
        </h3>

        <ul ngbNav #nav="ngbNav" class="nav-pills">
            <li ngbNavItem>
                <a ngbNavLink>Réunions</a>
                <ng-template ngbNavContent>
                    <select class="form-select mb-4 my-3" [(ngModel)]="active" (change)="onWeekChange(weeks)">
                        <option [value]="i" *ngFor="let week of weeks; index as i" >{{ week?.range }}</option>
                    </select>
                    <div class="p-4 rounded bg-white shadow-sm">
                    <app-schedule [week]="weeks[active]"></app-schedule>
                    </div>
                </ng-template>
              </li>
            <li ngbNavItem>
              <a ngbNavLink>Prédication</a>
              
              <ng-template ngbNavContent>
                    <card-groups title="Lundi" subtitle="Zoom">
                        <strong>10:00 AM</strong>
                    </card-groups>
      
                    <card-groups title="Mardi" subtitle="">
                        <em class="text-muted">Pas de sortie</em>
                    </card-groups>
                
                    <card-groups title="Mercredi" subtitle="Zoom">
                        <strong>10:00 AM</strong>
                        </card-groups>
                
                    <card-groups title="Jeudi" subtitle="Zoom">
                        <em class="text-muted">6:00 PM</em>
                        </card-groups>
                
                    <card-groups title="Vendredi" subtitle="Zoom">
                        <strong>10:00 AM</strong>
                    </card-groups>
                
                    <card-groups title="Samedi" subtitle="Zoom">
                        <strong>12:30 PM</strong>
                    </card-groups>

                    <card-groups title="Dimanche" subtitle="Groupes Respectifs">
                        <strong>10:00 AM</strong>
                    </card-groups>

              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Groupes</a>
              <ng-template ngbNavContent>
                  <div class="row">
                      <div class="col-lg">
                        <card-groups title="Groupe 1 - Wallkill" subtitle="800 Red Mills Rd, Wallkill, NY (Main Lobby) - Dimanche 10h00">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="fw-bold">Mauro Ruiz (R)</span></li>
                                <li class="list-group-item"><span class="fw-bold">Miles Nilges (A)</span></li>
                                <li class="list-group-item">Genesis Aguillon</li>
                                <li class="list-group-item">Ruby Aguillon</li>
                                <li class="list-group-item">Royale Arman</li>
                                <li class="list-group-item">Steven Bell</li>
                                <li class="list-group-item">Haley Bell</li>
                                <li class="list-group-item">Erica Chaney</li>
                                <li class="list-group-item">Alexandre De Sanctis</li>
                                <li class="list-group-item">Ericka De Sanctis</li>
                                <li class="list-group-item">Benjamin Gerber</li>
                                <li class="list-group-item">Celine Gerber</li>
                                <li class="list-group-item">Taryn Keller</li>
                                <li class="list-group-item">Nia McKethern</li>
                                <li class="list-group-item">Ethan Portray</li>
                                <li class="list-group-item">Lizeth Reyes</li>
                                <li class="list-group-item">Nancy Ruiz</li>
                                <li class="list-group-item">Kyle Tullgren</li>
                                <li class="list-group-item">Mehrivash Tullgren</li>
                            </ul> 
                        </card-groups>
                      </div>
                      <div class="col-lg">
                        <card-groups title="Groupe 2 - Newburgh" subtitle="Dimanche ce groupe se réunit avec Wallkill">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="fw-bold">Daniel Derave (R)</span></li>
                                <li class="list-group-item"><span class="fw-bold">Quincy Dotson (A)</span></li>
                                <li class="list-group-item">Carla Boston</li>
                                <li class="list-group-item">Tiffany Derave</li>
                                <li class="list-group-item">Priscilla Brown</li>
                                <li class="list-group-item">Kate Callahan</li>
                                <li class="list-group-item">Elvyne Casteran</li>
                                <li class="list-group-item">Sebastien Casteran</li>
                                <li class="list-group-item">Delphine Delgrande</li>
                                <li class="list-group-item">Sebastien Delgrande</li>
                                <li class="list-group-item">Jasmine Figures</li>
                                <li class="list-group-item">Cartier Lindsey</li>
                                <li class="list-group-item">Freddie Puig</li>
                                <li class="list-group-item">Parlene Puig</li>
                                <li class="list-group-item">Jason Smitko</li>
                                <li class="list-group-item">Rebecca Smitko</li>
                            </ul> 
                        </card-groups>
                      </div>
                      <div class="col-lg">
                        <card-groups title="Groupe 3 - Airmont" subtitle="223 Cherry Lane Airmont, NY - Dimanche 9H30">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="fw-bold">Andrew Rankin (R)</span></li>
                                <li class="list-group-item"><span class="fw-bold">Manuel De Freitas (A)</span></li>

                                <li class="list-group-item">Veronica Brusaschi</li>
                                <li class="list-group-item">Sharon Dawkins</li>
                                <li class="list-group-item">Karen De Freitas</li>
                                <li class="list-group-item">Helen Durand</li>
                                <li class="list-group-item">Johan Durand</li>
                                <li class="list-group-item">Cheryl Gunter</li>
                                <li class="list-group-item">Anthony Hanna</li>
                                <li class="list-group-item">Jackie Stanojevic</li>
                                <li class="list-group-item">Sam Stanojevic</li>
                                <li class="list-group-item">Curtis Totten</li>
                                <li class="list-group-item">Evelyn Totten</li>
                                <li class="list-group-item">Jennifer Waite</li>
                                <li class="list-group-item">Lydia Waite</li>
                            </ul> 
                        </card-groups>
                      </div>
                      <div class="col-lg">
                        <card-groups title="Groupe 4 - Warwick" subtitle="Dimanche ce groupe se réunit avec Airmont">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="fw-bold">Andy Cherise (R)</span></li>
                                <li class="list-group-item"><span class="fw-bold">Sam Alfano (A)</span></li>
                                <li class="list-group-item">Larissa Alfano</li>
                                <li class="list-group-item">Gisella Cherise</li>
                                <li class="list-group-item">Anne-Marie Correia</li>
                                <li class="list-group-item">Mario Correia</li>
                                <li class="list-group-item">Jordan Daniels</li>
                                <li class="list-group-item">Marie-Marie Daniels</li>
                                <li class="list-group-item">James Jenkins</li>
                                <li class="list-group-item">Michal Jenkins</li>
                                <li class="list-group-item">Lauren LaFountaine</li>
                                <li class="list-group-item">Alessandra Moraga</li>
                                <li class="list-group-item">Amando Ordonez</li>
                                <li class="list-group-item">Leslie Ordonez</li>
                                <li class="list-group-item">Jeremiah Reynolds</li>
                            </ul> 
                        </card-groups>
                      </div>
                  </div>
              </ng-template>
            </li>
          </ul>
         <div [ngbNavOutlet]="nav"></div>
    </div>
</div>
  