<!-- <ab-setup></ab-setup> -->
<section class="container-fluid pb-4 px-3">
   <div class="row">
      <div class="col-sm-12 g-3">
        <div class="card shadow-sm border-0 rounded-3" *ngIf="$myParts | async as myParts">
          <div class="card-body px-4 py-3">
            <h5 class="card-title fw-bold d-flex justify-content-between mb-2">
              <span>My Assignments</span>
              <span class="fs-6 badge rounded-pill bg-light text-dark">{{ myParts.length }}</span>
            </h5>
            <ul class="list-group list-group-flush" *ngFor="let part of myParts">
              <li class="list-group-item list-group-item-action py-3">
                <part-row [part]="part"></part-row>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
