
  <div class="modal-header flex-wrap bg-light">
    <div class="d-flex align-items-center justify-content-between pb-2 w-100">
      <h5 class="modal-title fw-bold">Publishers</h5>

        <button type="button" class="close btn btn-light btn-sm" (click)="modal.close()">
          Close
        </button>
    </div>
    <div class="input-group input-group-end w-100">
    <input id="publisherFrom" type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Publisher" />
    <span class="input-group-text"><svg-icon src="assets/images/search.svg" [svgStyle]="{ 'height.px': 24 }"></svg-icon></span>
  </div>
  </div>
  <div class="modal-body bg-light">

    <publishers-modal [part]="part" [searchText]="searchText" [id]="weekProgram" [type]="type" [replacing]="replacing"></publishers-modal>

      <!-- <div *ngIf="$publishers | async as publishers">
        <ul *ngIf="(publishers | filter: searchText).length > 0" class="list-group list-group-flush rounded shadow-sm">
          <li *ngFor="let publisher of publishers | filter: searchText" class="list-group-item list-group-item-action" type="button" (click)="selectPublisher(publisher)">
              <publisher-row [publisher]="publisher"></publisher-row>
          </li>
        </ul>
      </div> -->

  </div>

