<div class="container-fluid pb-4 px-sm-4">

    <div class="row mt-3">
       <div class="p-0 mb-3 d-flex justify-content-between align-items-center">
  
        <div class="d-inline-flex align-items-center">
          <button class="btn btn-light btn-sm d-inline-block me-2" (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
            <svg-icon [src]="sidenav.opened ? 'assets/images/slide-left.svg' : 'assets/images/slide-right.svg'" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
         </button>
         <div class="input-group input-group-end" style="width: 250px;">
          <input id="publisherFrom" type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Speaker" />
          <span class="input-group-text"><svg-icon src="assets/images/search.svg" [svgStyle]="{ 'height.px': 24 }"></svg-icon></span>
        </div>
        </div>
  
        <div class="d-inline-flex align-items-center">
          <button class="btn btn-light btn-sm d-inline-block" (click)="addSpeaker()">
             <svg-icon src="assets/images/add.svg" class="align-middle" [svgStyle]="{ 'width.px': 14 }"></svg-icon>
             <span class="ms-2 align-middle">Add Speaker</span>
          </button>
  
      </div>
  
       </div>
  
       <mat-drawer-container class="card p-0 border-0 shadow-sm rounded-3" >
  
          <mat-drawer mode="side" opened #sidenav style="width: 400px;" >
              <div class="card-body p-0 ">
                
                <div class="d-flex">
  
                   <ul ngbNav #nav="ngbNav" [(activeId)]="store.publisherActiveTab" orientation="vertical" class="list-group list-group-flush w-100">
  
                      <ng-container *ngIf="$localSpeakers | async as speakers ; else pubs">
                         <li [ngbNavItem]="i" *ngFor="let speaker of speakers | filter: searchText; index as i" class="list-group-item list-group-item-action py-2" [ngClass]="{'active': store.publisherActiveTab == i }">
                            <a ngbNavLink [class]="store.publisherActiveTab == i ? 'fw-bold text-white' : 'fw-bold text-dark'">
                              <speaker-row [speaker]="speaker"></speaker-row>
                            </a>
                            <ng-template ngbNavContent>
                              <speaker-detail [speaker]="speaker"></speaker-detail>
                            </ng-template>
                          </li>
                      </ng-container>
                   </ul>
                 </div>
              </div>
          </mat-drawer>
          <mat-drawer-content>
              <div *ngIf="$localSpeakers | async as speakers;" class="card-body py-4" style="min-height: 800px;" [ngClass]="{ 'd-flex flex-wrap align-items-center justify-content-center': speakers.length == 0  }">
  
               <div *ngIf="speakers.length == 0">
               <div class="text-center fs-5 text-secondary" style="opacity: 50%;">
                 <svg-icon src="assets/images/empty.svg" [svgStyle]="{ 'width.px':100, 'height.px': 100 }"></svg-icon>
                 <p class="mt-2">No speaker yet.</p>
               </div>
               <div class="w-100 d-inline-flex justify-content-center mt-4">
               <button type="button" class="btn btn-primary btn-sm" (click)="addSpeaker()">
                 Add Speaker
               </button>
             </div>
           </div>
                <div [ngbNavOutlet]="nav" class="mx-4" *ngIf="speakers.length > 0;">
                </div>
              </div>
          </mat-drawer-content>
       </mat-drawer-container>
       <ngx-spinner></ngx-spinner>
    </div>
  
  </div>

  
  <ng-template #pubs>
      <ul class="list-group list-group-flush w-100" *ngFor="let number of [0,1,2,3,4,5]; let i=index">
        <li class="list-group-item py-2 d-flex align-items-center">
            <publisher-skeleton></publisher-skeleton>
        </li>
      </ul>
  </ng-template>
  