<div class="d-inline-flex align-items-center">
  <ng-container *ngIf="part.assignee; else assign">
    <button
      class="btn btn-light rounded-pill d-inline-flex align-items-center"
      (click)="remove('assignee')"
      *ngIf="part.assignee"
    >
      <span class="me-2">{{ part.assignee.firstName }} {{ part.assignee.lastName }}</span>
      <svg-icon src="assets/images/c-remove.svg"></svg-icon>
    </button>
  </ng-container>
  <ng-template #assign>
    <button
      class="btn btn-light rounded-pill d-inline-flex align-items-center"
      *ngIf="!part.assignee"
      (click)="openSelectPublisherModal(part, 'assignee')"
    >
      <span class="me-2">Assignee</span>
      <svg-icon src="assets/images/c-pub.svg"></svg-icon>
    </button>
  </ng-template>

  <ng-container *ngIf="part.assistant; else assist">
    <button
      class="btn btn-light rounded-pill ms-2 d-inline-flex align-items-center"
      (click)="remove('assistant')"
      *ngIf="part.assistant"
    >
      <span class="me-2"
        >{{ part.assistant.firstName }} {{ part.assistant.lastName }}</span
      >
      <svg-icon src="assets/images/c-remove.svg"></svg-icon>
    </button>
  </ng-container>

  <ng-template #assist>
    <button
      class="btn btn-light ms-2 rounded-pill d-inline-flex align-items-center"
      *ngIf="part.parent == parentApply || part.parent == parentWt || part.parent == parentlife && part.hasAssistant"
      (click)="openSelectPublisherModal(part, 'assistant')"
    >
      <span class="me-2">{{ part.parent == parentWt || part.parent == parentlife ? 'Reader' : 'Assistant' }}</span>
      <svg-icon src="assets/images/c-pub.svg"></svg-icon>
    </button>
  </ng-template>

  <div ngbDropdown class="d-inline-block ms-2" placement="bottom-right" container="body">
    <button class="btn btn-light p-1 rounded-circle" id="dropdownBasic1" ngbDropdownToggle style="width: 36px;">
      <svg-icon src="assets/images/more.svg"></svg-icon>
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem class="py-2 btn-sm" (click)="openRenameModal(part)">Rename</button>
      <button *ngIf="user && part.parent == parentApply && part.assignee || user && part.parent == parentTreasures && part.index == 2 && part.assignee" ngbDropdownItem class="py-2 btn-sm" (click)="copyEmail(part)">Copy Email</button>
      <button *ngIf="user && part.parent == parentApply && part.assignee || user && part.parent == parentTreasures && part.index == 2 && part.assignee" ngbDropdownItem class="py-2 btn-sm" (click)="exportService.downloadPartPDF(part)">Download</button>
    </div>
  </div>
</div>
