<ul class="nav flex-column">
   <li class="nav-item p-2">
      <a class="nav-link d-inline-flex align-items-center" [routerLink]="['/home/dashboard']" routerLinkActive="active" aria-current="page">
      <svg-icon src="assets/images/home.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
      <span class="ml-1">Home</span>
   </a>
   </li>
   <li class="nav-item p-2">
      <a class="nav-link d-inline-flex align-items-center" [routerLink]="['/home/programs']" routerLinkActive="active" aria-current="page">
      <svg-icon src="assets/images/program.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
      <span class="ml-1">Programs</span>
   </a>
    </li>

    <li class="nav-item p-2">
      <a class="nav-link d-inline-flex align-items-center" [routerLink]="['/home/publishers']" routerLinkActive="active" aria-current="page">
         <svg-icon src="assets/images/publishers.svg" [svgStyle]="{ 'height.px': 18 }"></svg-icon>
         <span class="ml-1">Publishers</span>
      </a>
    </li>

    <!-- <li class="nav-item p-2">
      <a class="nav-link  d-inline-flex align-items-center" [routerLink]="['/home/speakers']" routerLinkActive="active" aria-current="page">
      <svg-icon src="assets/images/speaker.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
      <span class="ml-1">Speakers</span>
      </a>
    </li> -->
 </ul>
