<mat-nav-list>
   <mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active">
      <a matLine >Home</a>
   </mat-list-item>
   <mat-list-item [routerLink]="['/home/programs']" routerLinkActive="router-link-active">
      <a matLine >Programs</a>
   </mat-list-item>
   <mat-list-item [routerLink]="['/home/publishers']" routerLinkActive="router-link-active">
      <a matLine >Publishers</a>
   </mat-list-item>
   <mat-list-item [routerLink]="['/home/speakers']" routerLinkActive="router-link-active">
      <a matLine >Speakers</a>
   </mat-list-item>
   <mat-list-item [routerLink]="['/home/export']" routerLinkActive="router-link-active">
      <a matLine >Export</a>
   </mat-list-item>
 </mat-nav-list>
