 <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
   <div class="container">
      <button class="navbar-toggler btn btn-link" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="storeService.toggleNav()">
         <svg-icon src="assets/images/menu.svg" *ngIf="!storeService.isNavToggled"></svg-icon>
         <svg-icon src="assets/images/remove.svg" *ngIf="storeService.isNavToggled"></svg-icon>
       </button>
     <a class="navbar-brand pl-2">Assemblee</a>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">

       <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link d-inline-flex align-items-center" [routerLink]="['/home/dashboard']" routerLinkActive="active" aria-current="page">
            <svg-icon src="assets/images/home.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
            <span class="ml-1">Home</span>
         </a>
         </li>
         <li class="nav-item">
            <a class="nav-link d-inline-flex align-items-center" [routerLink]="['/home/programs']" routerLinkActive="active" aria-current="page">
            <svg-icon src="assets/images/program.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
            <span class="ml-1">Programs</span>
         </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link d-inline-flex align-items-center" [routerLink]="['/home/publishers']" routerLinkActive="active" aria-current="page">
               <svg-icon src="assets/images/publishers.svg" [svgStyle]="{ 'height.px': 18 }"></svg-icon>
               <span class="ml-1">Publishers</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link  d-inline-flex align-items-center" [routerLink]="['/home/speakers']" routerLinkActive="active" aria-current="page">
            <svg-icon src="assets/images/speaker.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
            <span class="ml-1">Speakers</span>
            </a>
          </li>

         <!-- <li class="nav-item dropdown" ngbDropdown>
           <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-expanded="false" ngbDropdownToggle>
             Export
           </a>
            <ul ngbDropdownMenu aria-labelledby="navbarDropdown">
              <li><a ngbDropdownItem  role="button">.pdf</a></li>
             <li><a ngbDropdownItem  role="button">.assemblee</a></li>
             <li><a ngbDropdownItem  role="button">.doc</a></li>
            </ul>
         </li> -->

       </ul>

       
     </div>
     <div class="nav-item d-inline-flex align-items-center">
      <a (click)="auth.signOut()" role="button">
         <svg-icon src="assets/images/leave.svg" [svgStyle]="{ 'height.px':18 }"></svg-icon>
      </a>
     </div>
   </div>
 </nav>

