<div class="row h-100 justify-content-center align-items-center bg-light">
  <div class="col-lg-3 col-md-4 col-sm-10 mx-2 bg-white shadow-sm p-4">

     <h3 class="font-weight-bold text-center mb-4">Meeting Assignment</h3>

      <div class="p-2" *ngIf="part$ | async as part">
        <p>
          <strong>Name:</strong> <span *ngIf="part.assignee" class="ms-2 h6">{{ part.assignee.firstName }} {{ part.assignee.lastName }}</span>
        </p>
        <p>
          <strong>Assistant:</strong> <span *ngIf="part.assistant" class="ms-2 h6">{{ part.assistant.firstName }} {{ part.assistant.lastName }}</span>
        </p>
        <p class="mb-4">
          <strong>Date:</strong> <span *ngIf="part.date" class="ms-2 h6">{{ part.date.toDate() | date: 'MMM d, y' }}</span>
        </p>
        <p class="mb-2"><strong>Assignment</strong></p>
        <p *ngIf="part.title" class="ms-3 mb-4 h6">{{ part.title }}</p>

        <p class="mb-2"><strong>To be given:</strong></p>
        <p class="ms-3 mb-4 h6">Main Hall</p>
      </div>

     <hr>

     <div class="d-grid">
      <button class="btn btn-primary" type="button">Confirm</button>
    </div>
   </div>
  </div>
